.cabecera{  
  background-image: url('../img/imagenSuperior.png');
}
.multimediaApartado{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 23%, rgba(255,251,240,1) 40%, rgba(255,240,206,1) 53%, rgba(255,220,144,1) 73%, rgba(255,183,24,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 23%, rgba(255,251,240,1) 40%, rgba(255,240,206,1) 53%, rgba(255,220,144,1) 73%, rgba(255,183,24,1) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,1) 23%, rgba(255,251,240,1) 40%, rgba(255,240,206,1) 53%, rgba(255,220,144,1) 73%, rgba(255,183,24,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffb718",GradientType=1);
}
.multimediaVistaPrevia{
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
.albumVistaPrevia img{
  opacity: 80%;
}
.multimediaVerMas{
  background-color: rgba(255, 255, 255, 0.75);
}