.cabecera{  
  background-image: url('../img/imagenSuperior.png');
}
.multimediaApartado{
  background-color: #FFF8E9;
}
.multimediaVistaPrevia{
  background-color: rgba(255, 255, 255, 0.75);
}
.albumVistaPrevia, .videoVistaPrevia{
  cursor: pointer;
}
.albumVistaPrevia, .videoVistaPrevia{
  overflow: hidden;
}
.albumVistaPrevia img:last-child, .videoCuadro img:last-child{
  transition: all 0.2s ease-in-out;
}
.albumVistaPrevia:hover img:last-child, .videoCuadro:hover img:last-child{
  transform: scale(1.1); 
  opacity: 100%;
}
.videoCuadro img:first-child{
  transition: all 0.2s ease-in-out;
}
.videoCuadro:hover img:first-child{
  transform: scale(1.05); 
}
.albumVistaPrevia img:last-child, .videoCuadro img:first-child{
  opacity: 80%;
}
.multimediaVerMas{
  background-color: rgba(255, 255, 255, 0.75);
}
.videoCuadro{
  position: relative;
}
.botonPlay{
  width: 20%;
  position: absolute;
  left: 40%;
  top: 35%;
  opacity: 70%;
}
.revistaVistaPrevia{
  overflow: hidden;
  height: 20vh;
}
.revistaVistaPrevia:nth-child(3){
  position:relative;
}
.revistaVistaPrevia img{
  position: absolute;
  left: 0px;
  top: -20px;
  width: 80%;
}
.revista{
  
}
.revista:hover{
  cursor: pointer;
}
#videoModal iframe{
  width: 100%;
  height: 450px;
}
.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}


.slider {
  background: white;
  height: 55vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 75vw;
  max-width: 85%;
}

.slide-titulo{
  display: none;
}

.slide-titulo h4{
  font-weight: bold;
}

.slider:hover .slide-titulo{
  display: flex;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.slider .slide-track {
  animation: scroll 15s linear infinite;
  display: flex;
  width: calc(250px * 18);

}

.slider .slide {
  height: 500px;
  width: 950px;
}
@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-30vw * 3));
  }
}