/*VARIABLES*/
/*FUENTES*/
/*SPAIN INFO*/
/*BGS*/
#cc--main {
  font-family: stolzl, sans-serif;
  position: absolute;
  top: 0;
  /*MODAL*/
  /*segunda pantalla*/
  /*POLITICA DE COOKIES*/
  /*NO MODAL. FIXED ABAJO*/
}
#cc--main .hide,
#cc--main .purposes {
  display: none;
}
#cc--main .br {
  display: block;
  font-size: 0px;
}
#cc--main button,
#cc--main a {
  cursor: pointer;
}
#cc--main h1,
#cc--main p,
#cc--main span,
#cc--main .cm-btn-info,
#cc--main p a,
#cc--main #pol-cookies a {
  color: #fff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}
#cc--main p a {
  text-decoration: underline;
}
#cc--main .cookie-notice {
  z-index: 99999999;
  opacity: 1;
}
#cc--main .cookie-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999999;
  background: rgba(255, 255, 255, 0.6);
}
#cc--main .cookie-modal-notice,
#cc--main .cookie-modal .cm-klaro {
  background: #021F3C;
  max-width: 80%;
  opacity: 1;
  padding: 20px;
  overflow-y: auto;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
}
@media (min-width: 1200px) {
  #cc--main .cookie-modal-notice,
#cc--main .cookie-modal .cm-klaro {
    max-height: 50vh;
    height: auto;
  }
}
#cc--main .cookie-modal-notice p,
#cc--main .cookie-modal .cm-klaro p {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) {
  #cc--main .cookie-modal-notice p,
#cc--main .cookie-modal .cm-klaro p {
    font-size: 16px;
  }
}
#cc--main .cookie-modal-notice p:empty,
#cc--main .cookie-modal .cm-klaro p:empty {
  display: none;
}
@media (min-width: 1024px) {
  #cc--main .cookie-modal-notice,
#cc--main .cookie-modal .cm-klaro {
    max-width: 50%;
    padding: 40px 80px;
  }
}
#cc--main .cookie-modal-notice #title_settings_modal,
#cc--main .cookie-modal .cm-klaro #title_settings_modal {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 1rem;
}
#cc--main .cn-body {
  text-align: center;
}
@media (min-width: 680px) {
  #cc--main .cn-ok {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
#cc--main .cm-btn {
  text-align: center;
  padding: 0.75em 1em;
  font-size: 13px;
  min-width: 160px;
  width: 160px;
  max-width: 300px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 1.8;
}
#cc--main .cm-btn-lern-more {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 1rem;
}
@media (min-width: 680px) {
  #cc--main .cm-btn-lern-more {
    margin-bottom: 0;
  }
}
#cc--main .cm-btn-lern-more:hover {
  background: #fff;
  color: #021F3C;
  cursor: pointer;
}
#cc--main .cm-btn-lern-more.back {
  border: none;
  font-size: 13px;
  color: #fff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.6px;
}
#cc--main .cm-btn-lern-more.back:hover {
  background: transparent;
  cursor: pointer;
}
#cc--main .cm-btn-success {
  background: #fff;
  color: #021F3C;
  border: none;
}
#cc--main .cm-btn-success:hover {
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
#cc--main ul.cm-services {
  padding-left: 0;
  list-style: none;
}
#cc--main li.cm-service {
  margin-bottom: 1rem;
}
#cc--main li.cm-service > div {
  position: relative;
}
#cc--main li.cm-service .cm-list-title {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.6px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#cc--main li.cm-service .cm-list-description span {
  display: inline-block;
  line-height: 28px;
  font-size: 13px;
}
#cc--main li.cm-service .cm-list-input {
  width: 56px;
  height: 27px;
  position: absolute;
  z-index: 9;
  opacity: 0;
  margin: 0;
  top: 10px;
}
#cc--main li.cm-service .cm-list-input:hover {
  cursor: pointer;
}
#cc--main li.cm-service .cm-list-input#service-item-necessary_cookies {
  pointer-events: none;
}
#cc--main li.cm-service .cm-list-input#service-item-necessary_cookies + .cm-list-label .cm-switch {
  background: #FDC40A;
  opacity: 0.4;
}
#cc--main li.cm-service .cm-list-input#service-item-necessary_cookies + .cm-list-label .cm-switch .slider.round {
  transform: translateX(28px);
}
#cc--main li.cm-service .cm-list-input:checked + .cm-list-label .cm-switch {
  background: #FDC40A;
}
#cc--main li.cm-service .cm-list-input:checked + .cm-list-label .cm-switch .slider.round {
  transform: translateX(28px);
}
#cc--main li.cm-service .cm-list-label {
  position: relative;
  left: 80px;
  top: 10px;
  font-size: 16px;
  width: auto;
  float: none;
  margin: 0;
  margin-bottom: 0.5rem;
}
#cc--main li.cm-service .cm-list-label .cm-required {
  display: none;
}
#cc--main li.cm-service .cm-list-label .cm-switch {
  position: absolute;
  width: 56px;
  height: 27px;
  border-radius: 14px;
  background: #aaa;
  left: -75px;
}
#cc--main li.cm-service .cm-list-label .cm-switch .slider.round {
  height: 22px !important;
  width: 22px !important;
  border-radius: 100%;
  background: #fff;
  margin: 2px 0px 2px 3px !important;
  transition: 0.4s;
}
#cc--main li.cm-service .cm-list-label + div {
  margin-left: 80px;
}
#cc--main li.cm-service.cm-toggle-all {
  display: none;
}
#cc--main .cm-footer-buttons {
  text-align: center;
}
#cc--main .cm-footer-buttons .cm-btn {
  margin: 0 auto;
  display: block;
  width: auto;
}
#cc--main .cm-footer-buttons .cm-btn.cm-btn-accept-all {
  margin-bottom: 1rem;
  color: #021F3C;
}
#cc--main .cm-footer-buttons .cm-btn.cm-btn-accept-all:hover {
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
#cc--main .cm-footer-buttons .cm-btn.cm-btn-info {
  background: transparent;
  border: none;
  color: #fff;
  margin-bottom: 1rem;
}
#cc--main .cm-footer-buttons .cm-btn-lern-more.back {
  margin-bottom: 2rem;
  display: inline-block;
  font-weight: bold;
}
@media (min-width: 680px) {
  #cc--main .cm-footer-buttons {
    text-align: right;
  }
  #cc--main .cm-footer-buttons .cm-btn {
    display: inline-block;
    margin-left: 2rem;
  }
  #cc--main .cm-footer-buttons .cm-btn.cm-btn-info, #cc--main .cm-footer-buttons .cm-btn.back {
    margin-bottom: 0;
  }
}
#cc--main #pol-cookies strong {
  padding: 2rem 0 1rem 0;
  display: block;
}
#cc--main #pol-cookies strong:first-child {
  padding-top: 0;
}
#cc--main .cookie-notice:not(.cookie-modal-notice) {
  position: fixed;
  bottom: 0;
  background: #021F3C;
  padding: 2rem;
  left: 0;
  right: 0;
}
#cc--main .cookie-notice:not(.cookie-modal-notice) .cn-body p {
  padding-bottom: 2rem;
}
#cc--main .cookie-notice:not(.cookie-modal-notice) .cn-learn-more {
  color: #fff;
  text-decoration: underline;
  font-size: 13px;
  letter-spacing: 0.6px;
  font-weight: 700;
}
@media (max-width: 680px) {
  #cc--main .cookie-notice:not(.cookie-modal-notice) .cn-learn-more {
    display: inline-block;
    margin-bottom: 2rem;
  }
}

/*CONTENIDO EXTERNO*/
[data-name=external_cookies] {
  background: #42403c;
  min-height: 300px;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  text-align: center;
}
[data-name=external_cookies] .context-notice p {
  color: #fff;
}
[data-name=external_cookies] .context-notice .cm-buttons {
  display: flex;
  justify-content: space-around;
}
[data-name=external_cookies] .context-notice .cm-buttons button {
  text-align: center;
  padding: 0.75em 1em;
  font-size: 13px;
  min-width: 120px;
  width: 120px;
  max-width: 300px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 1.8;
  border: none;
}
[data-name=external_cookies] .context-notice .cm-buttons button.cm-btn-success {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
[data-name=external_cookies] .context-notice .cm-buttons button.cm-btn-success:hover {
  color: #021F3C;
  background: #fff;
  cursor: pointer;
}
[data-name=external_cookies] .context-notice .cm-buttons button.cm-btn-success-var {
  background: #fff;
  color: #021F3C;
}
[data-name=external_cookies] .context-notice .cm-buttons button.cm-btn-success-var:hover {
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
