* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cabecera {
    padding-top: 8rem;
    height: 80vh;
    background-image: url('../../assets/Abonados/web_app.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.web_app {
    width: 60%;
    margin: 0px auto 100px auto;
}

.web_app h2{
    text-align: center;
    color: #010c70;
    
}
.web_app h4 {
    color: #010c70;
}

.div_int {
    height: 100px;
    display: flex;
}

.interrogantes{
    width: 5%;
    font-size: 60px;
    color: #010c70;
    font-weight: bold;
    font-family: Smooch Sans;
    margin-right: 10px;
}

.post_int{
    width: 90%;
    margin-top: 22px;
}