@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
body {
    background-color: #eee
}

.navbar {
    position: fixed;
    width: 100%;
}

section {
    padding-top: 7rem;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 1rem;
    margin-right: 20px;
    color: #fff;
    font-weight: bold;
}

.navbar-toggler {
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white
}

.nav-link {
    color: #fff !important;
}

.wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #FFB718;
    opacity: 0.7;
    clip-path: polygon(70% 0, 100% 0, 100% 50%, 100% 100%, 60% 100%);
    transition: 1s all;
}

.navbar-brand {
    color: #fff;
    font-family: 'Allerta Stencil', sans-serif;
    margin-bottom: 4px;
    font-size: 27px
}

.nav-link:hover {
    color: #FFB718 !important;
    border-bottom: 3px solid #FFB718
}

.navbar-red:hover .wrapper {
    clip-path: polygon(70% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%);
}

.navbar-brand:hover {
    color: #fff
}

.navbar-red {
    background: linear-gradient(#001896, #000);
    color: #fff
}

.all-show {
    z-index: 10
}

.logo {
    float: left;
}

#logoGranca {
    margin: .3rem;
    width: 4rem;
}

.specialItem {
    background-color: #001896;
    border-radius: 0.3rem;
    margin: 0 1rem 0 1rem;
    font-weight: bold;
}

.dropdown-item {
    font-weight: bold;
    margin: .1rem 0;
}

.dropdown-item:hover {
    background-color: #001896;
    color: white;
}

@media (max-width: 1603px) {
    .specialItem {
        border-radius: 0.3rem;
        margin: .1rem;
        font-weight: bold;
    }
}

@media (max-width: 1198px) {
    .specialZone {
        display: none;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
}

#headerline {
    height: 10vh;
    width: 10vw;
    background-color: black;
}