.iconos {
    margin: 20px 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
}

.iconos img {
    width: 50px;
    height: 40px;
    filter: grayscale(100%);
}

.iconos img:hover {
    filter: grayscale(0%);
}


footer {
    padding-top: 2em;
}

.footer-04 {
    background: #010c70;
}

.footer-04 .border-top {
    border-color: #1a1a1a !important;
    background: #000000;
}

.footer-04 .footer-heading {
    font-size: 13px;
    color: #000;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer-04 .footer-heading .logo {
    letter-spacing: none;
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
}

.footer-04 p {
    color: rgba(255, 255, 255, .3);
}

.footer-04 .list-unstyled li a {
    font-weight: bold;
    color: rgba(255, 255, 255, .7);
}

.footer-04 .copyright {
    color: #FFB718;
}

.izq {
    float: left;
    margin-right: 10px;
}

@media (max-width:900px) {
    .borrar{
        display: none;
    }
    .footer-04 .list-unstyled  {
        display: none;
    }
}


